.pedal_dropdown {
    display: flex;
    height: 500px;
    width: 90%;
    margin: auto;
    background: #fff;
    border: 2px solid #232232;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.pedal_card1 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
}

.pedal_main {
    height: 80%;
    width: 80%;
    background-image: url('../../Assets/PedalCard3.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
}

.acapulco {
    background-image: url('../../Assets/AcapulcoGold.png');
    height: 100%;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
}

.acapulco:hover{
    cursor: pointer;
    border: 2px solid #232232;
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;  
        box-shadow: 5px 5px 5px ;      
}

.aca_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.aca_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.aca_gear {
    display: flex;
    width: 250px;
    height: 90px;
    border: transparent;
    margin-left: 10em;
}

.eqd_logo{
    background-image: url('../../Assets/EQDLogo.png');
    height: 200px;
    width: 365px;
    background-size: contain;
    background-repeat: no-repeat;
}

.aca_big {
    background-image: url('../../Assets/AcapulcoGold.png');
    height: 100%;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 150%
}

.aca_doom{
    background-image: url('../../Assets/ACADoooom.png');
    height: 150px;
    width: 335px;
    background-size: contain;
    background-repeat: no-repeat; 
    margin-left: 44%
}

.aca_rock{
    background-image: url('../../Assets/ACADoomRoll.png');
    height: 150px;
    width: 335px;
    background-size: contain;
    background-repeat: no-repeat; 
    margin-left: 44%
}

.arrows {
    background-image: url('../../Assets/Arrows.png');
    height: 100%;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;

}

.arrows:hover{
    cursor: pointer;
    border: 2px solid #232232;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
        box-shadow: 5px 5px 5px ;   
}

.aro_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.aro_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.aro_big {
    background-image: url('../../Assets/Arrows.png');
    height: 100%;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 150%
}

.aro_rock{
    background-image: url('../../Assets/ARORocker.png');
    height: 150px;
    width: 335px;
    background-size: contain;
    background-repeat: no-repeat; 
    margin-left: 44%
}

.aro_solo{
    background-image: url('../../Assets/AROSolo.png');
    height: 150px;
    width: 335px;
    background-size: contain;
    background-repeat: no-repeat; 
    margin-left: 44%
}

.nepenthes{
    background-image: url('../../Assets/Nepenthes.png');
    height: 100%;
    width: 95px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nepenthes:hover{
    cursor: pointer;
    border: 2px solid #232232;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
        box-shadow: 5px 5px 5px ;   
}

.nep_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.nep_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.electro_logo{
    background-image: url('../../Assets/ElectroLoog.png');
    height: 200px;
    width: 365px;
    background-size: contain;
    background-repeat: no-repeat; 
}

.nep_big {
    background-image: url('../../Assets/Nepenthes.png');
    height: 100%;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 150%;
}

.nep_rock{
    background-image: url('../../Assets/NEPRock.png');
    height: 150px;
    width: 335px;
    background-size: contain;
    background-repeat: no-repeat; 
    margin-left: 43%
}

.nep_doom{
    background-image: url('../../Assets/NEPDoom.png');
    height: 150px;
    width: 335px;
    background-size: contain;
    background-repeat: no-repeat; 
    margin-left: 43%
}

.rat {
    background-image: url('../../Assets/Rat.png');
    height: 100%;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.rat:hover{
    cursor: pointer;
    border: 2px solid #232232;
    animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
        box-shadow: 5px 5px 5px ;   
}

.rat_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.rat_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.proco_logo{
    background-image: url('../../Assets/ProCoLogo.png');
    height: 100%;
    width: 130px;
    background-size: contain;
    background-repeat: no-repeat; 
}

.pedal_card2 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
}

.dispatch {
    background-image: url('../../Assets/DispatchMaster.png');
    height: 100%;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
}

.dispatch:hover{
    cursor: pointer;
    border: 2px solid #232232;
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;  
        box-shadow: 5px 5px 5px ;      
}

.dis_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.dis_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.dis_big {
    background-image: url('../../Assets/DispatchMaster.png');
    height: 100%;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 150%;
}

.dis_clean{
    background-image: url('../../Assets/DISClean.png');
    height: 150px;
    width: 335px;
    background-size: contain;
    background-repeat: no-repeat; 
    margin-left: 44%
}

.dis_verb{
    background-image: url('../../Assets/DISVerb.png');
    height: 150px;
    width: 335px;
    background-size: contain;
    background-repeat: no-repeat; 
    margin-left: 44%
}

.supermoon {
    background-image: url('../../Assets/Supermoon.png');
    height: 100%;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.supermoon:hover{
    cursor: pointer;
    border: 2px solid #232232;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
        box-shadow: 5px 5px 5px ;   
}

.sup_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.sup_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.mrblack_logo{
    background-image: url('../../Assets/MrBlackLogo.png');
    height: 100%;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat; 
    
}

.pyramid{
    background-image: url('../../Assets/Pyramids.png');
    height: 100%;
    width: 110px;
    background-size: contain;
    background-repeat: no-repeat;
}

.pyramid:hover{
    cursor: pointer;
    border: 2px solid #232232;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
        box-shadow: 5px 5px 5px ;   
}

.pyr_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.pyr_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.pyr_big {
    background-image: url('../../Assets/Pyramids.png');
    height: 100%;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 150%;
}

.pyr_chime{
    background-image: url('../../Assets/PYRChime.png');
    height: 150px;
    width: 335px;
    background-size: contain;
    background-repeat: no-repeat; 
    margin-left: 43%
}

.pyr_echo{
    background-image: url('../../Assets/PYREcho.png');
    height: 150px;
    width: 335px;
    background-size: contain;
    background-repeat: no-repeat; 
    margin-left: 43%
}

.phase {
    background-image: url('../../Assets/Phase90.png');
    height: 100%;
    width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
}

.phase:hover{
    cursor: pointer;
    border: 2px solid #232232;
    animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
        box-shadow: 5px 5px 5px ;   
}

.pha_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.pha_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.mxr_logo{
    background-image: url('../../Assets/MXRLogo.png');
    height: 100%;
    width: 170px;
    background-size: contain;
    background-repeat: no-repeat; 
}

.add_button {
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    font-size: 15px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    width: 11rem;
    background: transparent;
    color: black;
    border: 2px solid pink;
    text-transform: uppercase;
    font-weight: bold;
}

.add_button:hover {
    cursor: pointer;
    border: 2px solid black;
    height: 39px;
    box-shadow: 5px 5px 5px ;   
}


    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    }
    0% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    }
    } 
  



    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 


   
  @-webkit-keyframes zoomInDown {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
  transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
  -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
  transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  }
  @keyframes zoomInDown {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
  transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
  -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
  transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  } 