.pedal_dropdown {
    display: flex;
    height: 500px;
    width: 90%;
    margin: auto;
    background: #fff;
    border: 2px solid #232232;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.pedal_card1 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
}

.acapulco {
    background-image: url('../../Assets/AcapulcoGold.png');
    height: 100%;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
}

.acapulco:hover{
    cursor: pointer;
    border: 2px solid #232232;
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;  
        box-shadow: 5px 5px 5px ;      
}

.aca_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.aca_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.eqd_logo{
    background-image: url('../../Assets/EQDLogo.png');
    height: 100%;
    width: 310px;
    background-size: contain;
    background-repeat: no-repeat; 
}

.arrows {
    background-image: url('../../Assets/Arrows.png');
    height: 100%;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;

}

.arrows:hover{
    cursor: pointer;
    border: 2px solid #232232;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
        box-shadow: 5px 5px 5px ;   
}

.aro_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.aro_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.eqd_logo{
    background-image: url('../../Assets/EQDLogo.png');
    height: 100%;
    width: 310px;
    background-size: contain;
    background-repeat: no-repeat; 
}

.nepenthes{
    background-image: url('../../Assets/Nepenthes.png');
    height: 100%;
    width: 95px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nepenthes:hover{
    cursor: pointer;
    border: 2px solid #232232;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
        box-shadow: 5px 5px 5px ;   
}

.nep_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.nep_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.electro_logo{
    background-image: url('../../Assets/ElectroLoog.png');
    height: 100%;
    width: 310px;
    background-size: contain;
    background-repeat: no-repeat; 
}

.rat {
    background-image: url('../../Assets/Rat.png');
    height: 100%;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.rat:hover{
    cursor: pointer;
    border: 2px solid #232232;
    animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
        box-shadow: 5px 5px 5px ;   
}

.rat_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.rat_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.proco_logo{
    background-image: url('../../Assets/ProCoLogo.png');
    height: 100%;
    width: 130px;
    background-size: contain;
    background-repeat: no-repeat; 
}

.pedal_card2 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
}

.dispatch {
    background-image: url('../../Assets/DispatchMaster.png');
    height: 100%;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
}

.dispatch:hover{
    cursor: pointer;
    border: 2px solid #232232;
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;  
        box-shadow: 5px 5px 5px ;      
}

.dis_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.dis_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.eqd_logo{
    background-image: url('../../Assets/EQDLogo.png');
    height: 100%;
    width: 310px;
    background-size: contain;
    background-repeat: no-repeat; 
}

.supermoon {
    background-image: url('../../Assets/Supermoon.png');
    height: 100%;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.supermoon:hover{
    cursor: pointer;
    border: 2px solid #232232;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
        box-shadow: 5px 5px 5px ;   
}

.sup_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.sup_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.mrblack_logo{
    background-image: url('../../Assets/MrBlackLogo.png');
    height: 100%;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat; 
    
}

.pyramid{
    background-image: url('../../Assets/Pyramids.png');
    height: 100%;
    width: 110px;
    background-size: contain;
    background-repeat: no-repeat;
}

.pyramid:hover{
    cursor: pointer;
    border: 2px solid #232232;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
        box-shadow: 5px 5px 5px ;   
}

.pyr_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.pyr_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.eqd_logo{
    background-image: url('../../Assets/EQDLogo.png');
    height: 100%;
    width: 310px;
    background-size: contain;
    background-repeat: no-repeat; 
}

.phase {
    background-image: url('../../Assets/Phase90.png');
    height: 100%;
    width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
}

.phase:hover{
    cursor: pointer;
    border: 2px solid #232232;
    animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
        box-shadow: 5px 5px 5px ;   
}

.pha_card {
    height: 80%;
    width: 80%;
    background: #fff;
    border: 2px solid #232232;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.pha_card:hover{
    height: 90%;
    width: 90%;
    -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; 
    box-shadow: 5px 5px 5px ; 
}

.mxr_logo{
    background-image: url('../../Assets/MXRLogo.png');
    height: 100%;
    width: 170px;
    background-size: contain;
    background-repeat: no-repeat; 
}


    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    }
    0% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    }
    } 
  



    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 