
.header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.logo {
    background-image: url('../../Assets/ITMLogo.png');
    height: 100%;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 3.3em
    
}

.gear_container {
    height: 7.5vh;
    margin-top: .7em;
    
}








