.product_container {
    display: flex;
    margin: auto;
    margin-top: 2em;
    align-items: center;
    height: 300px;
    background: white;
    width: 900px;
    border: 2px solid black;
}

.product_container > img {
    margin:auto
}

.product_container > h4 {
    text-transform: uppercase;
    margin-left: 1em
}

.logout_btn {
    display: inline-block;
    border-radius: 3px;
    font-size: 15px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    width: 11rem;
    background: transparent;
    color:black;
    border: 2px solid black;
    text-transform: uppercase;
    font-weight: bold;
}

.logout_btn:hover{
    border: 2px solid black;
    background: white;
    color: black;
    box-shadow: 5px 5px 5px ;
    cursor: pointer
}

.remove_btn {
    display: inline-block;
    border-radius: 3px;
    font-size: 15px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    width: 11rem;
    background: black;
    color: white;
    
    text-transform: uppercase;
    font-weight: bold;
}

.remove_btn:hover{
    border: 2px solid tomato;
    background: transparent;
    color: tomato;
    cursor: pointer
}

